.text-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0px 25px 56px;
  background-color: #3c92cc;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

.section {
  height: 500px;
}

.section-2 {
  height: 50px;
}

.text-block-2 {
  padding-top: 14px;
  padding-right: 0px;
  padding-left: 39px;
}

.text-block-3 {
  height: 50px;
  padding-top: 13px;
  font-size: 30px;
}

.owly {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 40px;
}

.tabs-menu {
  padding-top: 21px;
  padding-left: 27px;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
}

.brand-link {
  text-decoration: none;
}

.logo-text {
  margin-top: 24px;
  font-family: Montserrat, sans-serif;
  color: #f60;
  font-size: 32px;
  font-weight: 500;
}

.nav-link {
  padding: 26px 17px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #0786a1;
  font-size: 18px;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, .5);
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #4dbd90;
  color: #ff00eb;
}

.section-3 {
  display: block;
  height: 30px;
}

.section-4 {
  margin-bottom: 0px;
  padding-top: 42px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #0a00ff;
}

.section-5 {
  display: block;
  height: 500px;
  margin-top: 43px;
  padding-top: 54px;
  padding-bottom: 0px;
}

.home {
  height: 500px;
  margin-top: 42px;
  padding-top: 0px;
}

.home.container {
  display: block;
  overflow: visible;
  margin-top: 85px;
  padding-right: auto;
  padding-left: auto;
  clear: both;
  border-radius: 15px;
  background-image: none;
}

.text-block-4 {
  margin-top: 77px;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.column-2 {
  margin-top: 91px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 75px;
}

.row {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.paragraph {
  display: block;
  width: auto;
  margin-top: 4px;
  margin-bottom: 24px;
  clear: right;
  font-size: 17px;
  text-align: center;
}

.heading {
  margin-top: -11px;
  margin-bottom: 7px;
  margin-left: 25px;
  padding-top: 0px;
  clear: left;
  font-size: 38px;
}

.heading.textchanger1 {
  position: relative;
  font-family: Exo, sans-serif;
  text-align: center;
}

.heading.title {
  margin-top: 99px;
  font-family: Exo, sans-serif;
  text-align: center;
}

.html-embed {
  display: block;
  margin: 39px 30% -43px;
  padding-right: 0px;
  padding-left: 0px;
  clear: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border: 1px none #000;
  opacity: 1;
}

.section-6 {
  margin-top: 0px;
  padding-top: 24px;
  padding-bottom: 70px;
}

.section-6.press {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 12%;
  margin-top: 129px;
  margin-bottom: 0px;
  padding-top: 17px;
  padding-bottom: 66px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #0786a1;
  box-shadow: 8px 0 18px -2px rgba(0, 0, 0, .8);
}

.small-text {
  margin-left: 12%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: hsla(0, 0%, 100%, .81);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.press-logo {
  display: inline;
  width: auto;
  height: 77.390625px;
  margin-left: 48px;
  opacity: 0.94;
  text-align: left;
}

.layer-helper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 491px;
  margin-left: 4px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  display: inline-block;
  margin-top: 0px;
  margin-right: 11px;
  margin-left: 10px;
  padding: 14px 22px;
  float: right;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 34px;
  background-image: -webkit-linear-gradient(270deg, #fd000a, #fd000a);
  background-image: linear-gradient(180deg, #fd000a, #fd000a);
  box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, .46);
}

.link.red_button {
  width: 269.796875px;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: auto;
  padding-left: auto;
}

.link.blue_button {
  width: 269.796875px;
  margin-top: 19px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: auto;
  padding-left: auto;
  background-image: -webkit-linear-gradient(270deg, #0786a1, #0786a1);
  background-image: linear-gradient(180deg, #0786a1, #0786a1);
}

.div-block {
  float: left;
  clear: left;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.image {
  max-width: 27%;
  margin: 13px 39px -24px -80px;
  padding-right: 0px;
  padding-bottom: 0px;
  float: right;
  clear: left;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.section-subtitle {
  margin-bottom: 68px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.bold-text {
  font-weight: 400;
}

.feature-row {
  margin-bottom: 14px;
}

.main-feature-group {
  margin-top: 30px;
}

.feature-icon {
  margin-bottom: 12px;
}

.small-features-row {
  margin-top: 71px;
}

.feature {
  text-align: left;
}

.body {
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: 0px;
  padding-left: 0px;
  background-image: -webkit-linear-gradient(0deg, rgba(227, 160, 236, .32), #fff 9%, #fff 83%, rgba(130, 197, 214, .49) 99%);
  background-image: linear-gradient(90deg, rgba(227, 160, 236, .32), #fff 9%, #fff 83%, rgba(130, 197, 214, .49) 99%);
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 186%;
  margin-bottom: -45px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 480px;
  padding-left: 0px;
}

.image-4 {
  display: none;
}

.container-5 {
  margin-top: 24px;
  margin-bottom: 29px;
  padding-right: 68px;
  padding-left: 68px;
}

.section-title-group {
  margin-bottom: 60px;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #676770;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-subheading.center {
  color: #8e8e9c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
  text-align: center;
}

.white-box.centered {
  background-image: -webkit-linear-gradient(270deg, #f4c151, #fd860e);
  background-image: linear-gradient(180deg, #f4c151, #fd860e);
  box-shadow: 1px 1px 3px 0 #000;
}

.white-box.noncentered {
  border-color: #c5c3ec;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 98px;
  margin-bottom: 61px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-7 {
  height: 408.78125px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  margin-top: -53px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(21deg, rgba(7, 134, 161, .5), #fff 20%, #fff 80%, rgba(255, 255, 0, .5));
  background-image: linear-gradient(69deg, rgba(7, 134, 161, .5), #fff 20%, #fff 80%, rgba(255, 255, 0, .5));
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
  margin-right: 31px;
  margin-left: -417px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.footer {
  position: static;
  left: 1px;
  right: -1px;
  bottom: -1px;
  display: block;
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0 #000;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #0786a1;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.info-icon {
  float: left;
}

.link-2 {
  color: #0786a1;
}

.section-8 {
  background-color: #0786a1;
}

.row-2 {
  margin-top: -5px;
}

.heading-2 {
  margin-top: 0px;
}

.heading-3 {
  margin-top: 0px;
}

.heading-4 {
  margin-top: 8px;
}

.link-3 {
  color: #0786a1;
}

.image-5 {
  margin-right: 30px;
  margin-left: 0px;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: auto;
  padding-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph-5 {
  margin-bottom: -33px;
}

.heading-5 {
  width: 491px;
  text-align: center;
}

.submit-button {
  display: none;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0 #000;
}

.text-field {
  position: fixed;
  display: none;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0 #000;
}

.text-field-2 {
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0 #000;
}

.select-field {
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0 #000;
}

.paragraph-6 {
  margin-right: 1px;
  margin-left: 15px;
}

.html-embed-2 {
  margin-left: 6px;
}

html.w-mod-js *[data-ix="appear-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="owly"] {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media (max-width: 991px) {
  .logo-text {
    font-size: 28px;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #000;
  }
  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }
  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }
  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    background-color: #000;
    color: #fff;
  }
  .column-2 {
    padding-left: 44px;
  }
  .paragraph {
    font-size: 20px;
  }
  .heading {
    font-size: 30px;
  }
  .section-6.press {
    margin-top: 0px;
  }
  .link {
    margin-right: 19px;
    margin-left: auto;
    padding-left: 22px;
  }
  .image {
    max-width: 35%;
    margin-right: 37px;
    margin-left: -1px;
    padding-left: 0px;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .container-3 {
    text-align: center;
  }
  .grid-image {
    width: 50%;
    padding: 15px;
  }
  .submit-button {
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #000;
  }
  .text-field {
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #000;
  }
  .text-field-2 {
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #000;
  }
  .select-field {
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #000;
  }
}

@media (max-width: 767px) {
  .logo-text {
    margin-top: 15px;
    font-size: 22px;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .home.container {
    margin-top: -19px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column {
    position: static;
    display: block;
    overflow: visible;
  }
  .column-2 {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    padding: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .paragraph {
    margin: -2px auto 46px;
    padding-right: auto;
    padding-bottom: 0px;
    padding-left: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }
  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -88px;
    margin-bottom: 5px;
    padding: 0px 55px 79px 0px;
    float: none;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .heading.textchanger1 {
    display: inline;
    margin: auto;
    padding: 0px 0px 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
  }
  .heading.title {
    display: inline;
    margin: auto auto auto 82px;
    padding: 0px 0px 0px auto;
    text-align: left;
    text-transform: none;
  }
  .html-embed {
    position: relative;
    margin: -80px auto auto -62px;
    padding-right: 0px;
    padding-left: 0px;
    float: none;
    clear: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .section-6 {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section-6.press {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    margin: -82px 0px auto;
    padding: 0px auto auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .small-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 21px;
    margin-left: 20px;
    color: hsla(0, 0%, 100%, .55);
  }
  .press-logo {
    display: block;
    margin: 0px auto;
    padding-right: auto;
    padding-left: auto;
  }
  .layer-helper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -15px auto -19px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .link {
    position: static;
    display: inline-block;
    margin: 35px 50px -14px;
    padding-right: auto;
    padding-bottom: 16px;
    padding-left: auto;
    float: none;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .div-block {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -41px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 59px;
    padding-left: 59px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .image {
    margin: 0px auto -56px 88px;
    padding-right: 31px;
    padding-left: 59px;
  }
  .section-subtitle {
    margin-bottom: 44px;
    text-align: center;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .image-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .image-3 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .title {
    text-align: center;
  }
  .container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .image-4 {
    position: relative;
    display: block;
    max-width: 33%;
    margin-top: auto;
  }
  .div-block-3 {
    display: block;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .container-5 {
    padding-right: 22px;
    padding-left: 22px;
  }
  .white-box {
    margin-bottom: 30px;
  }
  .grid-image {
    width: 20%;
    padding: 20px;
  }
  .paragraph-3 {
    text-align: center;
  }
  .paragraph-4 {
    text-align: center;
  }
  .utility-page-wrap {
    margin-top: -104px;
    margin-bottom: -216px;
  }
  .footer {
    margin-top: -126px;
    padding-top: 0px;
  }
  .spc {
    margin-bottom: 30px;
  }
  .body-2 {
    background-image: -webkit-linear-gradient(7deg, rgba(0, 185, 201, .51), #fff 15%, #fff 85%, rgba(255, 255, 0, .5));
    background-image: linear-gradient(83deg, rgba(0, 185, 201, .51), #fff 15%, #fff 85%, rgba(255, 255, 0, .5));
  }
  .section-8 {
    margin-top: 354px;
    margin-bottom: 1px;
  }
  .row-2 {
    position: static;
    margin-top: 0px;
  }
  .row-3 {
    margin-top: 1px;
  }
  .submit-button {
    border-radius: 25px;
    box-shadow: 1px 1px 3px 0 #000;
  }
  .text-field {
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #000;
  }
  .text-field-2 {
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #000;
  }
  .select-field {
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #000;
  }
}

@media (max-width: 479px) {
  .navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .logo-text {
    margin-right: 14px;
    font-size: 20px;
  }
  .nav-link.menu {
    position: static;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column {
    position: static;
    display: none;
    overflow: hidden;
    margin-top: 27px;
  }
  .column-2 {
    height: auto;
    margin-top: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .row {
    margin-top: auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .paragraph {
    margin-top: 22px;
    margin-bottom: 37px;
    padding-top: 0px;
    padding-right: 42px;
    padding-left: 45px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
  }
  .heading {
    margin-top: -76px;
    margin-bottom: 14px;
    padding-right: 11px;
    padding-bottom: 78px;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }
  .heading.textchanger1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: auto;
    font-size: 28px;
  }
  .heading.title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: auto;
  }
  .html-embed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -25px;
    margin-left: -64px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .section-6.press {
    display: inline;
    margin-top: -88px;
    margin-bottom: 87px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .small-text {
    margin-top: -9px;
    margin-bottom: -9px;
  }
  .press-logo {
    width: 35%;
    margin: 17px 5px 17px 7px;
    padding: 0px;
  }
  .layer-helper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -2px 0px auto;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .link {
    display: block;
    margin: 4px 10px auto;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-align: center;
  }
  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 23px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block {
    display: block;
    margin-top: 106px;
    margin-right: 0px;
    margin-bottom: auto;
    float: none;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image {
    margin: -9px auto 6px 98px;
    padding-left: 0px;
    float: none;
    clear: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .main-feature-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feature-icon {
    text-align: center;
  }
  .feature {
    margin-bottom: 38px;
  }
  .image-2 {
    display: none;
  }
  .image-3 {
    display: none;
  }
  .title {
    margin-bottom: 10px;
  }
  .body {
    margin-top: auto;
    background-image: -webkit-linear-gradient(0deg, rgba(227, 160, 236, .32) 4%, #fff 25%, #fff 78%, rgba(130, 197, 214, .49) 96%);
    background-image: linear-gradient(90deg, rgba(227, 160, 236, .32) 4%, #fff 25%, #fff 78%, rgba(130, 197, 214, .49) 96%);
  }
  .container-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .image-4 {
    position: relative;
    overflow: visible;
    width: 80%;
    max-width: 44%;
    margin-top: -1px;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: opacity 308ms ease;
    transition: opacity 308ms ease;
  }
  .div-block-3 {
    margin-top: 21px;
    text-align: center;
  }
  .container-5 {
    margin-top: -61px;
    padding-right: 13px;
    padding-left: 13px;
  }
  .section-heading.centered {
    margin-top: -60px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .grid-image {
    width: 35%;
  }
  .column-3 {
    margin-bottom: -77px;
  }
  .footer {
    margin-top: 1px;
  }
  .section-8 {
    margin-top: 566px;
  }
}